#extensions and directories
 *.[oa]
 *~
*.jpg
*.JPG
*.png
*.mp4
*.svg
*.pdf
*.xml
*.txt
assets/*
data/*
easy-comment/*
images/*
pdfs/*
videos/*
scripts/*

#individual files
google8495c1545a36e1b6.html
REVOLT Workspace.code-workspace